/*  your css code here. If applicable */

*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

.card{
	background-color:grey;
	padding:40px 20px;
	width:60%;
	text-align: center;
	box-shadow:0 0 10px;
}

img{
	width:100%
}

.btn{
	padding:6px 8px;
	background-color:red;
	color:white;
	border-radius: 10px;
}

